#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding-top: 110px;
    padding-bottom: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

#friends-display-link i{
    color: rgba(0,0,0,0.1);
}

.friends-screen {
    padding: 0px var(--horizontal-space);
    
}

.friends-screen__channel {
    margin-top: 22px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__channel-header {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    color: rgba(0,0,0,0.5);
}


@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden; /*마우스에 걸리지 않게 화면이 빠짐. BUT, html은 그대로 존재*/
    }
}

#splash-screen {
    background-color: var(--yellow);
    /*화면 노란색으로 덮기*/
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:0;
    z-index: 3;
    
    /*아이콘 중앙 정렬*/
    display: flex; 
    justify-content: center;
    align-items: center;

    font-size : 90px;
    animation: hideSplashScreen 0.5s ease-in-out forwards;
    animation-delay: 0.6s;
}