.welcome-header{
    margin: 77px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}

.welcome-header__title{
    margin-bottom: 30px;
    font-size: 25px;
}

.welcome-header__text{
    width: 50%;
    opacity: 0.7;
}

.welcome-header__img {
    width : 250px;
    height: 200px;
    object-fit: cover;
    margin-top: 20px;
    margin-left: 47px;
    margin-bottom: -60px;
}

#login-form{
    display: flex;
    flex-direction: column;
    margin: 0px 24px;
}

#login-form input{
    border: none;
    padding: 26px 0px;
    font-size: 18px;
    margin-bottom: 30px;
}

#login-form input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    transition: border-color .3s ease-in-out;
}

#login-form input::placeholder{
    color : rgba(0,0,0,0.4);
}

#login-form input:focus {
   border-color: var(--yellow);
}

#login-form input[placeholder="Email or phone number"]{
    margin-bottom: 0px;
}

#login-form input[type="submit"] {
    background-color: var(--yellow);
    opacity: 0.8;
    cursor: pointer;
    font-size: 20px;
    padding: 23px 0px;
    border-radius: 5px;
}

#login-form a {
    text-align: center;
    text-decoration: none;
    color: rgba(0,0,0,1);
    font-size: 17px;