.settings__setting {
    padding: 25px 0px;
    border-bottom: 0.01px solid rgba(178, 177, 177, 0.2);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

.settings__setting:first-child {
    padding-top:0px;
}

.settings__setting i {
    margin-right:17px;
    font-size: 22px;
    color: var(--color-gray__dark);
    opacity: 0.8;
}

.settings__setting-column:last-child {
    color: var(--color-gray);
    opacity: 0.9;
}