.alt-header {
    position: fixed;
    top: 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:15px 25px;
    background-color: white;
    z-index:2;
}

.alt-header__column {
    width: 33%;
}

.alt-header__column:first-child {
    margin-right: auto;
    font-size: 38px;
}

.alt-header__column:nth-child(2) {
    text-align: center;
}

.alt-header__column:last-child {
    margin-left: auto;
    font-size: 21px;
    display: flex;
    justify-content: flex-end;
}

.alt-header__title {
    font-size: 22px;
    font-weight: 700;
}

.alt-header__column span:last-child {
    margin-left:20px;
}
